<p>
<h2>Eventos</h2>
  <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre Evento</th>
                <th>Fecha</th>
                <th>Ciudad</th>
                <th>Poblacion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for evento in eventos %}
            <tr>
                <td>{{ evento.id }}</a></td>
                <td>{{ evento.name }}</td>
                <td>{% if evento.date %}{{ evento.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ evento.city }}</td>
                <td>{{ evento.population }}</td>
                <td>
                  <a href="{{ path('evento_ver', {'id':evento.id}) }}">ver</a>
                  <a href="{{ path('evento_editar', {'id':evento.id}) }}">editar</a>               
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <br><a href="{{path ('evento_nuevo')}}">Nuevo registro</a>
</p>