<p>
El evento encontrado es: 
  <ul>
    <li>ID: {{id}}</li>
    <li>Nombre: {{nombre}}</li>
    <li>Fecha: {{fecha.date}}</li>
    <li>Ciudad: {{ciudad}}</li>
    <li>Poblacion: {{poblacion}}</li>
  </ul>
</p>

<a href="{{ path('evento_index')}}">Lista de Eventos</a>