{% extends "base.html.twig" %}

{% block title %}Editar|ver{% endblock %}

{% block body %}

<h1 align="center">Modificar Autor: </h1>

  {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Editar" />
    {{ form_end(edit_form) }}
 
  <li>
      <a href="{{ path('autor_index') }}">Regresar a la lista</a>
  </li>


{% endblock %}
