{% extends "base.html.twig" %}

{% block title %}Autores|Listar{% endblock %}

{% block body %}
<h1 align="center">Lista de Autores </h1>

<h2>Total de Autores: {{autores|length}}</h2> 

  {% if autores > 0 %}
    <table border="1" style="width:50%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
   
           {% for autor in autores %}
           <tr align="center">
              <td> {{autor.id}}</td>
              <td> {{autor.name}}</td>
              <td> {{autor.lastname}}</td>
              <td>
                <a href="{{ path('autor_show', { 'id': autor.id }) }}">ver</a>
                <a href="{{ path('autor_editar', { 'id': autor.id }) }}">editar</a>
              </td>
           </tr>
           {% endfor %}
        </tbody>
    </table>
   
   {% else %}
   
    <h2>No hay autores registrados</h2>
    
 {% endif %}
 


{% endblock %}

