{% extends "base.html.twig" %}

{% block title %}Autores|ver{% endblock %}

{% block body %}

<h1 align="center">Ver datos personales del autores: </h1>

  Nombre: {{ autor.name }}<br>
  Apellido: {{ autor.lastname }}<br>
  Cedula: {{ autor.card }} <br><br>
  
  <li>
      <a href="{{ path('autor_editar', {'id': autor.id}) }}">Editar autor</a>
  </li>
  <li>
      <a href="{{ path('autor_index') }}">Regresar a la lista</a>
  </li>


{% endblock %}

